body{
	margin:0;
}

a, a:hover, a:focus{
	text-decoration:none;
	outline:none;
}

.header{
	background-color:#25211e;
	padding:40px 0;
}

.header ul {
  margin:0;
}

.header .left_nav li {
  border-right: 1px solid #5f5134;
  line-height: 11px;
}

.header ul li:last-child{
  border: none;
}

.left_nav li img, .ryt_nav li img{
	margin-right:7px;
}

.ryt_nav li:first-child img{
	margin-left:7px;
	margin-right:0px;
}

.header ul li a{
	color:#c3b598;
}

.left_nav li, .ryt_nav li{
	color:#c3b598;
	font-size:13px;
	padding:0 13px;
}

.search input, .sign_box input{
  background-color: #1e1a19;
  border: medium none;
  color: #64605f;
  height: 30px;
  padding-left: 10px;
}

.search a, .sign_box a{
	background-color: #34312c;
    color: #c3b598;
    padding: 7px 10px;
}

.search input::placeholder, .sign_box input::placeholder{
	color:#64605f;
	opacity:1;
}

.product {
  background-color: #e6e6e6;
  float: left;
  width: 100%;
  padding:0 0 30px;
}

.product ul{
  float: left;
  width: 100%;
  margin: 0;
  padding: 0;
}

.product li {
  border: 1px solid #fff;
  box-sizing: border-box;
  display: inline-table;
  float: left;
  height: 100%;
  max-height: 350px;
  overflow: hidden;
  padding: 0;
  width: 269.8px;
}

.product li img {
  /* height: 100%; */
  width: 190px;
}

.brown_btn {
  background-color: #c2b497;
  border: medium none;
  font-weight: 600;
  margin: 26px 0 0;
  padding: 9px 26px;
}

.brown_btn:hover{
  background-color: #25211E;
}

.brown_btn a{
	color:#fff;
}

.footer{
	background-color:#25211e;
	padding:40px 0;
	width:100%;
	float:left; 
}

.footer h6 {
  color: #fff;
  font-weight: 600;
  margin: 30px 0 22px;
}

.footer ul{
	margin:0;
	padding:0;
}

.footer ul li {
  color: #939391;
  float: left;
  font-size: 11px;
  font-weight: 600;
  margin: 0 0 7px;
  width: 100%;
}

.footer_icon {
  margin: 6px 0 0;
  width: 16%;
}

.footer_menu{
	width: 84%;
}

.signup {
  border-left: 1px solid #47443f;
  display: flow-root;
  padding: 0 0 50px 50px;
}

.signup h6{
	margin-bottom:10px;
}

.signup p{
	color: #fff;
    font-size: 11px;
    font-weight: 600;
}

.sign_box input{
  margin-top:20px;
}

.signup hr {
  border-color: #484540;
  display: block;
  height: 1px;
  margin: 30px 0 0;
  width: 100%;
}

@media only screen and (max-width:1300px){
	
.product li {
  width: 50%;
}
	
	
	
	
	
	
}


	
@media only screen and (max-width:992px){

.sm_margin{
	margin-top:20px;
}

.sm_center{
	text-align:center !important;
}

.signup{
	padding:0;
	border:none;
}

.signup hr{
	display:none;
}

}

@media only screen and (max-width:768px){

.xs_margin{
	margin-top:20px;
}

.header ul li {
  border: none !important;
  display: block;
  padding: 12px 0;
}

.xs_border {
  border-top: 1px solid #5d4f32;
  padding: 21px;
}

.product li {
  border-top: 1px solid #fff !important;
  border: none;
  width: 100%;
  width: 100%;
}

.footer_icon {
  width: 4%;
}


}












